{{#each cart}}
  <h2>{{products.title}}</h2>
  <p>description:{{products.description}}</p>
  <p> $:{{products.price}}</p>
  <p> code:{{code}}</p>
  <p> ID:{{products._id}}</p>
  <p> quantity:{{quantity}}</p>
{{/each}}