{{#each cart}}
  <h2>Título: {{cart.product}}</h2>
  <p>Descripción: {{productos.description}}</p>
  <p>Total $: {{cart.products.product.price}}</p>
  <p>Code: {{cart.products.product.code}}</p>
  <p>ID: {{products._id}}</p>
  <p>Quantity: {{cart.products.quantity}}</p>
{{/each}}