<h1>HOLA {{name}} MUNDITO</h1>

{{!-- {{#each productos }}
<h1>Listado de productos: </h1>
<h1>{{productos.title}}</h1>
<p>{{productos.description}}</p>
<img src="{{productos.thumbnail}}" alt="">
<h4>{{productos.price}}</h4>
{{else}}
<h3>No hay ningún producto expuesto a la venta</h3>
{{/each}} --}}